<h2>Organigramme</h2>
<div *ngIf="(organizationChart$ | async) as organizationChart">
  <div *ngFor="let group of organizationChart" class="card-block">
    <div class="heading">
      <a [attr.href]="'#' + group.title" data-toggle="collapse">
        {{ group.title }}
      </a>
    </div>
    <div class="row card-container collapse" [attr.id]="group.title">
      <div
        *ngFor="let person of group.persons"
        class="col-md-4 col-sm-6 col-xs-8 card col-xs-offset-2 col-sm-offset-0"
      >
        <div class="content">
          <img
            [src]="
              '../../../assets/img/players/' +
              person.firstName +
              '_' +
              person.lastName +
              '.png'
            "
            class="img img-responsive"
          />
          <div class="text-center">
            <div class="title">
              {{ person.lastName | uppercase }}
              {{ person.firstName }}
            </div>
            <div class="subtitle">
              {{ person.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
