<div class="container" *ngIf="competition">
  <h2 class="pageHeader">
    <img
      style="margin-top: -8px"
      src="../../../assets/img/{{ competition.ShortName }}.png"
    />
    <span class="hidden-xs">
      Classement {{ competition.Name }} - Poule {{ competition.Group }} -
      {{ competition.Season }}
    </span>

    <span class="visible-xs">
      Classement
    </span>
  </h2>

  <div class="panel panel-default">
    <div class="panel-body">
      <fws-league-table></fws-league-table>
    </div>
  </div>
</div>
