<h2>Partenaires</h2>

<div class="panel panel-default">
    <div class="panel-body ">
        <div class="row">
            <div *ngFor="let sponsor of sponsors" class="col-md-3 col-sm-4 col-xs-6">
                <a href="{{sponsor.siteUrl}}" target="_blank">
                    <div class="md-3-square thumbnail">
                        <img class="img-responsive" src="../../../assets/img/sponsors/{{sponsor.logoUrl}}" />
                    </div>
                </a>
            </div>
        </div>
    </div>

<!--
    <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://www.procie-huningue.com/" target="_blank">
          <div class="md-3-square thumbnail">
              <img class="img-responsive" src="../../../assets/img/sponsors/pro&cie.png" />
          </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://restaurant-lacroixdor.com/" target="_blank">
          <div class="md-3-square thumbnail">

              <img class="img-responsive " src="../../../assets/img/sponsors/la_croix_d_or.png" />
          </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="https://www.magasins-u.com/hyperu-sierentz" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/hyperU.png" />
          </div>
      </a>
  </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://osolemio-express.com/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/o_sole_mio.png" />
          </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="https://www.credit-agricole.fr/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/logo-Credit-Agricole2.png" />
          </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://www.plac-arts.com/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/plac_arts.png" /> </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://www.tp-pays-de-sierentz.fr/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/tp_sierentz.png" />
          </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="https://www.creditmutuel.fr/fr/particuliers.html" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/credit_mutuel.png" /> </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="https://www.facebook.com/teamsportsaintlouis/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/team_sport.png" /> </div>
      </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="http://traiteur-faitmaison.fr/" target="_blank">
          <div class="md-3-square thumbnail"><img class="img-responsive " src="../../../assets/img/sponsors/fait_maison.png" /> </div>
      </a>
  </div> -->
