<h2>Admin</h2>

<ul class="nav nav-pills nav-justified">
  <li data-toggle="tab" class="active" href="#articles"><a>Articles</a></li>
  <li data-toggle="tab" href="#players"><a>Joueurs</a></li>
  <li data-toggle="tab" href="#games"><a>Matchs</a></li>
  <li data-toggle="tab" href="#ranking"><a>Classement</a></li>
  <li data-toggle="tab" href="#team"><a>Equipes</a></li>
  <li data-toggle="tab" href="#strickers"><a>Buteurs</a></li>
  <li data-toggle="tab" href="#sponsors"><a>Sponsors</a></li>
</ul>

<div class="tab-content">
  <div id="articles" class="tab-pane fade  in active" *ngIf="articles$ | async as articles">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-success pull-right" href="" [routerLink]="['newArticle']">
          <span class="glyphicon glyphicon-plus"></span> Article
        </a>
        <h4>{{articles.length}} articles</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-clickable">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Auteur</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles" (click)="onselect(article)">
              <td>
                {{article.title}}
              </td>
              <td>
                {{article.publisher}}
              </td>
              <td>
                {{article.publishedDate | date:"dd/MM/yyyy"}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="players" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-success pull-right" href="" [routerLink]="['newPlayer']">
          <span class="glyphicon glyphicon-plus"></span> Joueur
        </a>
        <h4>{{players?.length}} joueurs</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-clickable">
          <thead>
            <tr>
              <th></th>
              <th>Joueur</th>
              <th>Poste</th>
              <th>Date de naissance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players" (click)="onPlayerSelect(player)">
              <td>
                <img [src]="'../../../assets/img/players/' + player.firstName + '_' + player.lastName + '.png'" style="height: 30px" />
              </td>
              <td>
                {{player.firstName}} {{player.lastName}}
              </td>
              <td>
                {{player.position}}
              </td>
              <td>
                {{player.dateOfBirth | date:'dd/MM/yyyy'}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="team" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-body">
        <fws-edit-team [allPlayers]="players"></fws-edit-team>
      </div>
    </div>
  </div>

  <div id="games" class="tab-pane fade" *ngIf="games$ | async as games">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-success pull-right" href="" [routerLink]="['newGame']">
          <span class="glyphicon glyphicon-plus"></span> Matches
        </a>
        <h4>{{games.length}} matches</h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-clickable">
          <thead>
            <tr>
              <th>Domicile</th>
              <th>Extérieur</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games" (click)="onGameSelect(game)">
              <td>
                {{game.HomeTeam}}
              </td>
              <td>
                {{game.AwayTeam}}
              </td>
              <td>
                {{game.HomeTeamScore}} - {{game.AwayTeamScore}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>


  <div id="ranking" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-body">
        <fws-upload-ranking></fws-upload-ranking>
      </div>
    </div>
  </div>

  <div id="strickers" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-body">
        <fws-strickers-editor></fws-strickers-editor>
      </div>
    </div>
  </div>

  <div id="sponsors" class="tab-pane fade">
    <div class="panel panel-default">
      <div class="panel-body">
        <fws-new-sponsor></fws-new-sponsor>
      </div>
    </div>
  </div>
</div>
