<h2>Edition '{{ article.title }}'</h2>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
<div class="form-group">
  <label>Title</label>
  <input
    class="form-control"
    placeholder="Title"
    [(ngModel)]="article.title"
    type="text"
  />
</div>
<div class="form-group">
  <label>Publié</label>&nbsp;
  <input
    [(ngModel)]="article.published"
    type="checkbox"
    ngControl="published"
  />
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Content</label>
  <!--<span id="summernote" rows="20" class="form-control" placeholder="Content" >{{article.body}}</span>-->
  <!--<unity-tinymce [mceContent]="article.body" (contentChanged)="descriptionChanged($event)"></unity-tinymce>-->
  <editor
    apiKey="x6kya91fxd4udiq2afldv6hr7u1oseggp245bsyzbtpysjey"
    [(ngModel)]="article.body"
    [init]="tinyMceSettings"
  >
  </editor>
  <!-- <app-tinymce [(ngModel)]='article.body' ngDefaultControl ></app-tinymce> -->
</div>
<div>
  <button (click)="goBack()" class="btn btn-default">Retour</button>
  <button
    (click)="saveArticle()"
    type="submit"
    class="btn btn-success pull-right"
  >
    Sauvegarder
  </button>
</div>
