<span *ngIf="game != null">
  <div class="text-center help-block">
    <b> {{ game.MatchDate | frDate: 'longDate' }}</b>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-xs-6 text-center">
        <img [src]="game.homeTeamLogoUrl" />
        <br />
        <b>{{ game.HomeTeam }}</b>
      </div>
      <div class="col-xs-6 text-center">
        <img [src]="game.awayTeamLogoUrl" /> <br />
        <b>{{ game.AwayTeam }}</b>
      </div>
    </div>
    <div class="text-center align-middle">
      <span style="margin-top: 10px; margin-bottom: 5px">
        <fws-game-score [game]="game"></fws-game-score>
      </span>
    </div>
  </div>

  <div class="help-block text-center">
    <fws-competition [game]="game"></fws-competition>
  </div>
</span>
