<table class="table">
  <tr>
    <td></td>
    <td title="Total">Tot</td>
    <td title="Championnat">Champ</td>
    <td title="Coupe de France">CdF</td>
    <td title="Coupe d'Alsace">CdA</td>
    <td title="Coupe Credit Mutuel">CCM</td>
  </tr>
  <tr *ngFor="let stricker of strickers">
    <td>
      {{stricker.playerName}}
    </td>
    <td>
      <!-- <b>{{stricker.totalGoals }}</b> -->
    </td>
    <td>{{stricker.championshipGoals}}</td>
    <td>{{stricker.nationalCupGoals}}</td>
    <td>{{stricker.regionalCupGoals}}</td>
    <td>{{stricker.otherCupGoals}}</td>
  </tr>
  <tr>
    <td></td>
    <td>{{totalGoals}}</td>
    <td>{{totalChampionshipGoals}}</td>
    <td>{{totalNationalCupGoals}}</td>
    <td>{{totalRegionalCupGoals}}</td>
    <td>{{totalOtherCupGoals}}</td>
  </tr>
</table>
<!-- <ul>
  <li >
    {{stat.player}}
  </li>
</ul> -->
